parameters:
    level: 8
    paths:
        - src

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
     - '#with no typehint specified#'
     - '#Variable property access on object#'
